@font-face {
  font-family: muliBold;
  src: url(../fonts/Muli-Bold.ttf);
}

@font-face {
  font-family: Roboto-bold;
  src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: Roboto-Regular;
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: Poppins-bold;
  src: url(../fonts/Poppins-ExtraBold.otf);
}

@font-face {
  font-family: Poppins-mid;
  src: url(../fonts/Poppins-Medium.otf);
}

body {
  padding-top: 135px;
}

.headerTop {
  position: relative;
  background: #000000;
}

.headerTop .wrapper {
  padding: 0 9%;
  position: relative;
  min-height: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: muliBold;
  font-size: 14px;
}

.headerTop .wrapper .topBarLeft {
  color: #ffffff;
}

.headerTop .wrapper .topBarLeft i {
  color: #ac161a;
}

.headerTop .wrapper .topBarLeft .mr-10 {
  padding-right: 10px;
}

.headerTop .wrapper .topBarRight {
  z-index: 2;
}

.headerTop .wrapper .topBarRight a {
  color: #ffffff;
}

.headerTop .wrapper .topBarRight i {
  color: #c20505;
}

.headerTop .wrapper .topBarRight .contact-info {
  margin-right: 4rem;
  position: relative;
  z-index: 1;
}

.headerTop .wrapper .topBarRight .contact-info .py-25 {
  padding-right: 25px;
  padding-left: 25px;
}

.headerTop .wrapper .topBarRight .contact-info .py-25 a {
  text-decoration: none;
}

.headerTop .wrapper .topBarRight .contact-info .py-25 a .mr-10 {
  padding-right: 10px;
}

.headerTop .wrapper .topBarRight .social-links li {
  display: inline-block;
  padding: 15px 15px;
  line-height: 1;
}

.headerTop .wrapper .topBarRight .social-links li a {
  overflow: hidden;
  display: block;
  width: 30px;
  height: 30px;
  font-size: 14px;
  color: #fff;
  line-height: 26px;
}

.headerTop .wrapper .topBarRight .social-links li a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.headerTop .wrapper .topBarRight .social-links li a i {
  color: #ffffff;
}

.headerTop .wrapper .topBarRight .redBg {
  z-index: -1;
  top: 0px;
  right: -15px;
  padding-left: 350px;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 60px solid #c20505;
  border-left: 70px solid transparent;
  margin-right: 0px;
}

.nav-scroll {
  background: #0c0c0c;
  padding: 0;
}

.nav-scroll .menu-wrap {
  padding: 0 9.5%;
}

.nav-scroll .menu-wrap .logo {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  margin-right: 20px;
  position: relative;
  z-index: 35;
}

.nav-scroll .menu-wrap .navbar-nav {
  float: right;
  margin-left: auto;
}

.nav-scroll .menu-wrap .navbar-nav .active a {
  color: #c20505;
}

.nav-scroll .menu-wrap .navbar-nav .nav-link {
  position: relative;
  padding-right: 1.1rem;
  padding-left: 1.1rem;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Roboto-bold;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.nav-top {
  background-image: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(black, rgba(0, 0, 0, 0));
  padding: 2rem 0;
}

.nav-top .menu-wrap {
  padding: 0 9.5%;
}

.nav-top .menu-wrap .logo {
  margin-right: 20px;
  position: relative;
  z-index: 35;
}

.nav-top .menu-wrap .navbar-nav {
  float: right;
  margin-left: auto;
}

.nav-top .menu-wrap .navbar-nav .active a {
  color: #c20505;
}

.nav-top .menu-wrap .navbar-nav .nav-link {
  position: relative;
  padding-right: 1.1rem;
  padding-left: 1.1rem;
  padding-bottom: 10px;
  font-family: Roboto-bold;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.slider {
  margin-top: -70px;
  z-index: 1;
  overflow: hidden;
  position: relative;
}

.slider .slider-text-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider .slider-text {
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 50px;
  z-index: 3;
}

.slider .slider-text .text-head {
  font-family: Poppins-bold;
  font-size: 100px;
  color: #ffffff;
}

.slider .slider-text .text-sub {
  font-family: Poppins-mid;
  font-size: 40px;
  color: #ffffff;
}

.slider .slider-text a {
  background: #c20505;
  padding: 15px 44px;
  font-family: Roboto-Bold;
  font-size: 20px;
  text-decoration: none;
  color: #ffffff;
}

.slider .slider-text a :hover {
  background: #000000;
  -webkit-transition: 8ms;
  transition: 8ms;
}

.slider .slider-text a .sbtn {
  margin: 0 10px;
}

.slider .slider-menu .slide {
  max-height: calc(100vh -60px);
}

.slider .slider-menu .slide img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100;
}

.welcome-content {
  padding: 80px 0;
}

.welcome-content .wc-padding {
  padding: 0 9.5%;
}

.welcome-content .wc-padding img {
  margin-top: 8px;
}

.welcome-content .wc-padding .section-title {
  color: #404040;
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 0;
  font-size: 38px;
  font-weight: 700;
  font-family: Roboto-Bold;
}

.welcome-content .wc-padding .section-decs {
  margin-bottom: 20px;
  font-family: Roboto-Regular;
  font-size: 19px;
  font-weight: 100;
  text-align: justify;
  overflow-wrap: break-word;
}

.welcome-content .wc-padding .button-group-wrapper {
  margin-top: 40px;
}

.welcome-content .wc-padding .button-group-wrapper .btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 20px 55px;
  border: 2px solid #c20505;
  border-radius: 0;
}

.welcome-content .wc-padding .button-group-wrapper .btn-primary {
  background: #c20505;
}

.welcome-content .wc-padding .button-group-wrapper .btn-primary:hover {
  background: #ffffff;
  color: #c20505;
}

.welcome-content .wc-padding .button-group-wrapper .btn-outline-primary {
  color: #c20505;
}

.welcome-content .wc-padding .button-group-wrapper .btn-outline-primary:hover {
  color: #ffffff;
  background: #c20505;
}

#info-box .single-info-box {
  background-size: cover !important;
  padding: 85px 120px;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 85px 100px;
  text-align: center;
}

#info-box .single-info-box:hover .single-info-icon-wrapper .single-info-icon {
  border: 2px solid #ffffff;
}

#info-box .single-info-box .single-info-icon-wrapper {
  margin-bottom: 50px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#info-box .single-info-box .single-info-icon-wrapper .single-info-icon {
  width: 150px;
  height: 150px;
  border: 2px solid transparent;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#info-box .single-info-box h3 {
  font-family: Roboto-Bold;
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 17px;
}

#info-box .single-info-box h3 a {
  text-decoration: none;
  color: #ffffff;
}

#info-box .single-info-box p {
  color: #ffffff;
  font-family: Roboto-Regular;
  font-size: 16px;
  margin-bottom: 20px;
}

#info-card {
  padding: 150px 0px;
}

#info-card .single-info-card {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

#info-card .single-info-card a {
  text-decoration: none;
  text-align: center;
}

#info-card .single-info-card h3 {
  font-family: Roboto-Bold;
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 17px;
  color: #404040;
  padding: 60px 0;
}

#info-card .single-info-card p {
  margin-bottom: 60px;
  color: #707070;
  font-size: 18px;
  font-family: Roboto-Regular;
}

#info-card .single-info-card .btn {
  padding: 20px 55px;
  border: 2px solid #c20505;
  border-radius: 0;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 28%;
}

#info-card .single-info-card .btn-primary {
  background: #c20505;
}

#info-card .single-info-card .btn-primary:hover {
  background: #ffffff;
  color: #c20505;
}

#product-slider {
  margin: 60px 0;
  padding-top: 150px;
  padding-bottom: 90px;
  background: url("../img/bg-product-slider.png");
  background-size: cover;
}

#product-slider .vartical-text {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  position: absolute;
  left: -140px;
  top: 100px;
  font-family: Poppins-mid;
}

#product-slider .vartical-text .big-text {
  font-size: 80px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

#product-slider .vartical-text .small-text {
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 21px;
  font-weight: inherit;
}

#product-slider .product-slider {
  margin: auto;
  padding-left: 100px;
}

#product-slider .product-slider .slick-product-slider {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#product-slider .product-slider .slick-product-slider .single-slick-slide {
  color: #ffffff;
  padding: 0 35px;
  width: 242px;
}

#product-slider .product-slider .slick-product-slider .single-slick-slide .product-title {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  padding: 15px 0;
}

#product-slider .product-slider .slick-product-slider .single-slick-slide .product-title a {
  text-decoration: none;
  color: #ffffff;
}

#footer .footer-top {
  font-family: Roboto;
  background: #c20505;
  padding: 45px 9.5%;
}

#footer .footer-top h3 {
  font-family: Roboto-Bold;
  font-size: 40px;
  color: #ffffff;
}

#footer .footer-top .center-text {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 5px;
}

#footer .footer-top .btn {
  padding: 20px 55px;
  border: 2px solid #c20505;
  border-radius: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#footer .footer-top .btn-primary {
  font-family: Roboto;
  background: #c20505;
  color: #ffffff;
  border: 2px solid #ffffff;
}

#footer .footer-top .btn-primary:hover {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  background: #ffffff;
  color: #c20505;
}

#footer .footer-center {
  background: url("../img/footer-bg.png");
  background-size: cover !important;
  padding: 80px 9.5%;
  color: #ffffff;
}

#footer .footer-center .footer-mail {
  color: #c20505;
}

#footer .footer-center .social-links {
  list-style: none;
}

#footer .footer-center .social-links li {
  padding: 0 8px;
}

#footer .footer-center .social-links li a {
  color: #c20505;
}

#footer .footer-end {
  background: #000000;
  color: #bbbbbb;
  font-size: 11px;
  font-weight: 500;
  padding: 15px 9.5%;
}

@media only screen and (max-width: 767px) {
  .logo img {
    max-width: 170px;
  }
  .slider .slider-text .text-head {
    font-size: 20px;
  }
  .slider .slider-text .text-sub {
    font-size: 10px;
  }
  .slider .slider-text a {
    padding: 10px 15px;
    font-size: 10px;
  }
  #product-slider .product-slider {
    padding-left: 0;
  }
  #info-card .single-info-card .btn-primary {
    padding: 5px 30px;
  }
}

@media (max-width: 1350px) {
  .headerTop .wrapper .topBarRight .redBg {
    padding-left: 315px;
  }
}

@media only screen and (max-width: 991px) {
  .headerTop .wrapper .topBarRight .redBg {
    display: none;
  }
  .welcome-content .wc-padding .section-title {
    margin-top: 20px;
  }
  .welcome-content .wc-padding .button-group-wrapper .btn {
    padding: 10px 20px;
  }
}

@media only screen and (max-width: 1024px) {
  .headerTop .wrapper {
    display: none !important;
  }
  .slider {
    margin-top: -135px;
  }
  .slider-text {
    padding-top: 60px;
  }
  .headerTop .wrapper .topBarRight .redBg {
    display: none;
  }
}

@media (max-width: 1350px) {
  .headerTop .wrapper .topBarRight .redBg {
    padding-left: 315px;
  }
}
/*# sourceMappingURL=style.css.map */