@font-face {
  font-family: muliBold;
  src: url(../fonts/Muli-Bold.ttf);
}

@font-face {
  font-family: Roboto-bold;
  src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: Roboto-Regular;
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: Poppins-bold;
  src: url("../fonts/Poppins-ExtraBold.otf");
}

@font-face {
  font-family: Poppins-mid;
  src: url("../fonts/Poppins-Medium.otf");
}

body {
  padding-top: 135px;
}

body .headerTop {
  position: relative;
  background: #000000;
}

body .headerTop .wrapper {
  padding: 0 9%;
  position: relative;
  min-height: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: muliBold;
  font-size: 14px;
}

body .headerTop .wrapper .topBarLeft {
  color: #ffffff;
}

body .headerTop .wrapper .topBarLeft i {
  color: #ac161a;
}

body .headerTop .wrapper .topBarLeft .mr-10 {
  padding-right: 10px;
}

body .headerTop .wrapper .topBarRight {
  z-index: 2;
}

body .headerTop .wrapper .topBarRight a {
  color: #ffffff;
}

body .headerTop .wrapper .topBarRight i {
  color: #c20505;
}

body .headerTop .wrapper .topBarRight .contact-info {
  margin-right: 4rem;
  position: relative;
  z-index: 1;
}

body .headerTop .wrapper .topBarRight .contact-info .py-25 {
  padding-right: 25px;
  padding-left: 25px;
}

body .headerTop .wrapper .topBarRight .contact-info .py-25 a {
  text-decoration: none;
}

body .headerTop .wrapper .topBarRight .contact-info .py-25 a .mr-10 {
  padding-right: 10px;
}

body .headerTop .wrapper .topBarRight .social-links li {
  display: inline-block;
  padding: 15px 15px;
  line-height: 1;
}

body .headerTop .wrapper .topBarRight .social-links li a {
  overflow: hidden;
  display: block;
  width: 30px;
  height: 30px;
  font-size: 14px;
  color: #fff;
  line-height: 26px;
}

body .headerTop .wrapper .topBarRight .social-links li a i {
  color: #ffffff;
}

body .headerTop .wrapper .topBarRight .redBg {
  z-index: -1;
  margin-left: -55px;
  padding-left: 314px;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 60px solid #c20505;
  border-left: 70px solid transparent;
  margin-right: 0px;
}

body .navbar {
  background-image: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(black, rgba(255, 255, 255, 0));
  padding: 2rem 0;
}

body .navbar .active #star-five {
  margin: 50px 0;
  position: relative;
  display: block;
  color: red;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid red;
  border-left: 100px solid transparent;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
}

body .navbar .active #star-five:before {
  border-bottom: 80px solid red;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -45px;
  left: -65px;
  display: block;
  content: "";
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
}

body .navbar .active #star-five:after {
  position: absolute;
  display: block;
  color: red;
  top: 3px;
  left: -105px;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid red;
  border-left: 100px solid transparent;
  -webkit-transform: rotate(-70deg);
          transform: rotate(-70deg);
  content: "";
}

body .navbar .menu-wrap {
  padding: 0 9.5%;
}

body .navbar .menu-wrap .logo {
  margin-right: 20px;
  position: relative;
  z-index: 35;
}

body .navbar .menu-wrap .navbar-nav {
  float: right;
  margin-left: auto;
}

body .navbar .menu-wrap .navbar-nav .nav-link {
  position: relative;
  padding-right: 1.1rem;
  padding-left: 1.1rem;
  padding-top: 1.9rem;
  padding-bottom: 1.9rem;
  font-family: Roboto-bold;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

body .overlay {
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 5;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.3)));
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .slider {
  margin-top: -70px;
  z-index: 1;
  overflow: hidden;
  position: relative;
}

body .slider .slider-text {
  position: absolute;
  padding-left: 25%;
  padding-right: 33%;
  padding-top: 20%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 50px;
  z-index: 3;
}

body .slider .slider-text .text-head {
  font-family: Poppins-bold;
  font-size: 100px;
  color: #ffffff;
}

body .slider .slider-text .text-sub {
  font-family: Poppins-mid;
  font-size: 40px;
  color: #ffffff;
}

body .slider .slider-text a {
  background: #c20505;
  padding: 15px 44px;
  font-family: Roboto-Bold;
  font-size: 20px;
  text-decoration: none;
  color: #ffffff;
}

body .slider .slider-text a :hover {
  background: #000000;
  -webkit-transition: 8ms;
  transition: 8ms;
}

body .slider .slider-text a .sbtn {
  margin: 0 10px;
}

body .slider .slider-menu .slide {
  max-height: calc(100vh -60px);
}

body .slider .slider-menu .slide img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100;
}

body .welcome-content {
  padding: 80px 0;
}

body .welcome-content .wc-padding {
  padding: 0 9.5%;
}

body .welcome-content .wc-padding img {
  margin-top: 8px;
  max-width: 450px;
  max-height: 530px;
}

body .welcome-content .wc-padding .section-title {
  color: #404040;
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 0;
  font-size: 38px;
  font-weight: 700;
  font-family: Roboto-Bold;
}

body .welcome-content .wc-padding .section-decs {
  margin-bottom: 20px;
  font-family: Roboto-Regular;
  font-size: 19px;
  font-weight: 100;
  text-align: justify;
  overflow-wrap: break-word;
}

body .welcome-content .wc-padding .button-group-wrapper {
  margin-top: 40px;
}

body .welcome-content .wc-padding .button-group-wrapper .btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 20px 55px;
  border: 2px solid #c20505;
  border-radius: 0;
}

body .welcome-content .wc-padding .button-group-wrapper .btn-primary {
  background: #c20505;
}

body .welcome-content .wc-padding .button-group-wrapper .btn-primary:hover {
  background: #ffffff;
  color: #c20505;
}

body .welcome-content .wc-padding .button-group-wrapper .btn-outline-primary {
  color: #c20505;
}

body .welcome-content .wc-padding .button-group-wrapper .btn-outline-primary:hover {
  color: #ffffff;
  background: #c20505;
}

body #info-box .single-info-box {
  background-size: cover !important;
  padding: 85px 120px;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 85px 100px;
  text-align: center;
}

body #info-box .single-info-box:hover .single-info-icon {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

body #info-box .single-info-box .single-info-icon {
  margin-bottom: 50px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

body #info-box .single-info-box h3 {
  font-family: Roboto-Bold;
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 17px;
}

body #info-box .single-info-box h3 a {
  text-decoration: none;
  color: #ffffff;
}

body #info-box .single-info-box p {
  color: #ffffff;
  font-family: Roboto-Regular;
  font-size: 16px;
  margin-bottom: 20px;
}

body #info-card {
  padding: 150px 0px;
}

body #info-card .single-info-card {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #info-card .single-info-card a {
  text-decoration: none;
  text-align: center;
}

body #info-card .single-info-card h3 {
  font-family: Roboto-Bold;
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 17px;
  color: #404040;
  padding: 60px 0;
}

body #info-card .single-info-card p {
  margin-bottom: 60px;
  color: #707070;
  font-size: 18px;
  font-family: Roboto-Regular;
}

body #info-card .single-info-card .btn {
  padding: 20px 55px;
  border: 2px solid #c20505;
  border-radius: 0;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 28%;
}

body #info-card .single-info-card .btn-primary {
  background: #c20505;
}

body #info-card .single-info-card .btn-primary:hover {
  background: #ffffff;
  color: #c20505;
}
/*# sourceMappingURL=style.css.map */